<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="es" lang="es">
  <head>
    <title >Nueva Sugerenic de Cuidado </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.png|}" />
  </head>
  <body>
    <p>Apreciedo Familiar</p>
    <p>El medico asignado al paciente bajo sus cuidados ha generado una nueva sugerencia de cuidado, lo invitamos entrar a nuestra plataforma y revisarla.</p>

    <p>
      <span>Atentamente, </span>
      <br />
      <em>Sistema HomeCare.</em>
    </p>
  </body>
</html>
